@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}

#hero-msgh1, #hero-msg h4 {
  text-align: center;
  width: 1600px;
}

#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-img {
  width: 1600px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}

#hero-msg {
  grid-column: 2 / span 1;
  grid-row: 1/ span 1;
  margin-top: 100px;
}

#hero-msg h1 {
  color: white;
  text-align: center;
}

#hero-msg h4 {
  color: white;
}
           

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #4059AD;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

header {
  background-color: #6B9AC4;
  font-family: 'Quicksand', sans-serif;
  display: grid;
  grid-template-columns: 150px auto;
}

nav  {
  display: flex;
  justify-content: space-around;
}

nav a:hover {
  background-color: #97D8C4;
  color: white;
}

.book, .join {
  background-color: #6B9AC4;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .join:hover {
  background-color: #97D8C4;
  color: white;
}

.msg {
  background-color: #6B9AC4;
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6/ span 4;
  grid-row: 6/ span 1;
  box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
  color: White;
  font-family: 'Quicksand', sans-serif;
}

.msg p {
  color: white;
  font-size: .8em;
  padding-bottom: 15px;
}

footer {
  background-color: #4059AD;
  color: white;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #1C2220;
  text-decoration: underline;
}

footer p {
  font-size: 1.2em;
}

footer .social img {
  padding-top: 15px;
}

.home-title {
  color: #1C2220;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

h4 {
  color: #1C2220;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.logo {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #97D8C4;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}

main section img {
  box-sizing: border-box;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.card-img, .mountains {
  width: 100%;
}

.rivers-card {
  grid-column: 2/ span 2;
  grid-row: 2/ span 1;
}

.camping-card {
  grid-column: 5/ span 2;
  grid-row: 2/ span 1;
}

.rapids-card {
  grid-column: 8/ span 2;
  grid-row: 2/ span 1;
}

#background {
  grid-column: 1/ span 10;
  grid-row: 4/ span 5;
}

.mountains {
  grid-column: 2/ span 5;
  grid-row: 5/ span 3;
  box-shadow: 5px 5px 10px #6f7364;
}

#hero-msg_alt {
  grid-column: 2 / span 1;
  grid-row: 1/ span 1;
  margin-top: 350px;
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 10px;
}

#hero-msg_alt h1 {
  text-align: center;
  color: white;
}

#hero-msg_alt h4 {
  text-align: center;
  color: white;
}

.river {
  width: 100%;
}

.river-title {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: left;
}

.offset-img-container {
  height: 450px;
}

.offset-river-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.river-content-right {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin-bottom: 4rem;
}

.river-content-right p {
  grid-column: 6 / span 4;
  text-align: left;
  grid-row: 2;
  background-color: #1c2220d2;
  color: white;
  padding: 3rem;
  border-radius: 10px;
  text-indent: 3em;
}

.river-content-right div {
  grid-column: 1 / span 6;
  grid-row: 1 / span 3;
}

#river-content-left {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin-bottom: 4rem;
}

#river-content-left p {
  grid-column: 2 / span 4;
  text-align: left;
  grid-row: 2;
  background-color: #1c2220d2;
  color: white;
  padding: 3rem;
  border-radius: 10px;
  text-indent: 3em;
}

#river-content-left div {
  grid-column: 5 / span 6;
  grid-row: 1 / span 3;
}

.river-content-center {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.center-river-img {
  width: 100%;
  height: 100%;
  object-fit: fill; 
  border-radius: 10px;
}

.center-img-container {
  grid-column: 1 / span 5;
  grid-row: 1 / span 3;
  height: 600px;
}

.center-river-text {
  grid-column: 2 / span 3;
  grid-row: 2;
  color: white;
  background-color: #1c2220d2;
  border-radius: 10px;
  padding: 3rem;
  text-align: left;
  text-indent: 3em;
}

@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}
          
           