@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

#content {
  max-width: 1600px;
  margin: 0 auto;
}

nav a {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 35px;
}

#hero-msgh1, #hero-msg h4 {
  text-align: center;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  height: 725px;
  background-color: #4059AD;
}

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

header {
  background-color: #6B9AC4;
  font-family: 'Quicksand', sans-serif;
}

nav a:hover {
  background-color: #97D8C4;
  color: white;
}

.book, .join {
  background-color: #6B9AC4;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
}

.book:hover, .join:hover {
  background-color: #97D8C4;
  color: white;
}

.msg {
  background-color: #6B9AC4;
  line-height: 1.5em;
  padding: 35px;
}

.msg h2 {
  color: White;
  font-family: 'Quicksand', sans-serif;
}

.msg p {
  color: white;
  font-size: .8em;
  padding-bottom: 15px;
}

footer {
  background-color: #4059AD;
  color: white;
  padding: 25px 50px;
  margin-top: 200px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #1C2220;
  text-decoration: underline;
}

footer p {
  font-size: 1.2em;
}

footer .social img {
  padding-top: 15px;
}

.home-title {
  color: #1C2220;
  font-family: 'Quicksand', sans-serif;
  font-size: 2em;
  margin-top: 10px;
}

h4 {
  color: #1C2220;
}

.icon {
  width: 80px;
  padding-top: 10px;
}

.logo {
  width: 80px;
}

#logo_link {
  padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

.card-img {
  border: 10px solid #97D8C4;
}

main section img {
  box-sizing: border-box;
}