@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Shadows+Into+Light&display=swap");

:root {
  --primary_color: #0e67b4;
  --primary_color_opaque: #0e67b481;
  --secondary_color: #97dffc;
  --secondary_color_opaque: #97dffc96;
  --accent_1: #5efc8d;
  --accent_1_opaque: #5efc8d8a;
  --accent_2: #f25f5c;

  --heading_font: "Shadows Into Light", cursive;
  --paragraph_font: "M PLUS Rounded 1c", sans-serif;
}

html,
body {
  margin: 0;
  font-family: var(--paragraph_font);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary_color);
}

header div {
  width: 400px;
  height: 200px;
}

header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--primary_color);
  width: 100%;
}

nav a {
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 40px;
  transition: 0.25s ease;
  width: 100%;
  text-align: center;
}

nav a:hover {
  background-color: var(--accent_2);
  transition: 0.25s ease;
}

h1 {
  font-family: var(--heading_font);
}

.hero {
  display: grid;
  grid-template: repeat(3, 200px) / repeat(3, 1fr);
}

.hero_image {
  width: 100%;
  height: 100%;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  object-fit: cover;
}

.hero div {
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  width: 100%;
  margin: 0;
  text-align: center;
  color: white;
  background-color: var(--secondary_color_opaque);
  font-size: 4rem;
  padding: 40px;
  border-radius: 20px;
}

footer {
  background-color: var(--primary_color);
}

footer p {
  margin: 0;
  color: white;
  text-align: center;
  padding: 60px 60px 0px 60px;
  font-size: 1.5rem;
}

footer div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 40px;
  transition: 0.5s ease;
}

footer a:hover {
  color: var(--accent_2);
  transition: 0.5s ease;
}

.main_content_section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#home_main_paragraph {
  grid-column: 3 / span 7;
  margin-top: 40px;
  text-indent: 60px;
}

#home_offset_image {
  grid-row: 2;
  grid-column: 2 / span 8;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  margin: 40px;
}

.home_image_wrapper {
  width: 100%;
  height: 100%;
  grid-column: 1 / span 6;
  grid-row: 1 / span 3;
}

.home_image_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}

#home_offset_image p {
  grid-column: 6 / span 5;
  grid-row: 2;
  background-color: var(--secondary_color);
  padding: 40px;
  border-radius: 20px;
}

#tips_hero_image {
  object-position: 100% 18%;
}

.main_tips_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tips_content {
  width: 80%;
  font-size: 1.25rem;
}

#tips_content h1 {
  font-size: 3rem;
}

#tips_content p {
  text-indent: 40px;
}

#tips_top_paragraph {
  margin-top: 30px;
}

#framing_grid_section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.framing_section_text {
  grid-column: 1 / span 3;
  margin-right: 20px;
}

.grid_row_1 {
  grid-row: 1;
}

.grid_row_2 {
  grid-row: 2;
}

.grid_row_3 {
  grid-row: 3;
}

#framing_image_wrapper {
  grid-column: 4 / span 7;
  grid-row: 1 / span 3;
}

#tips_content img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

#lighting_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

#lighting_list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#lighting_list li {
  margin: 20px;
}

#lighting_right_overlap {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#lighting_right_image {
  grid-column: 1 / span 7;
  grid-row: 1 / span 3;
  aspect-ratio: 16 / 9;
}

#lighting_right_overlap p {
  grid-column: 5 / span 6;
  grid-row: 2;
  padding: 40px;
  background-color: var(--secondary_color);
  border-radius: 20px;
}

#lighting_left_overlap {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#lighting_left_image {
  grid-column: 4 / span 7;
  grid-row: 1 / span 3;
  aspect-ratio: 16 / 9;
}

#lighting_left_overlap p {
  grid-column: 1 / span 6;
  grid-row: 2;
  padding: 40px;
  background-color: var(--secondary_color);
  border-radius: 20px;
}

#focus_section img {
  width: 60rem;
}

.focus_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 40px 0px;
}

.focus_flex p {
  margin: 40px;
}

#focus_section {
  margin-bottom: 40px;
}

.main_gear_section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gear_content {
  width: 80%;
}

#gear_content p {
  text-indent: 40px;
}

#gear_content h1 {
  font-size: 3rem;
}

#case_image_wrapper {
  width: 100%;
}

#gear_content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

#case_section_content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#case_section_content p {
  margin-left: 60px;
  font-size: 1.5rem;
}

#tripod_content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#tripod_content div {
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;

  aspect-ratio: 16 / 9;
}

#tripod_content p {
  grid-column: 2;
  grid-row: 2;
  width: 60rem;
  font-size: 1.5rem;
  padding: 40px;
  background-color: rgba(73, 73, 73, 0.466);
  color: white;
  border-radius: 20px;
}

#tripod {
  font-size: 1.5rem;
}

#first_paragraph {
  font-size: 1.5rem;
}

#polarizing_lens {
  font-size: 1.5rem;
}

#polarizing_lens_image_text {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#lens_image_wrapper {
  grid-column: 1 / span 6;
  grid-row: 1 / span 3;

  aspect-ratio: 16 / 9;
}

#polarizing_lens_image_text p {
  grid-column: 5 / span 6;
  grid-row: 2;

  background-color: var(--secondary_color);
  padding: 40px;
  border-radius: 20px;
}

#lenses {
  font-size: 1.5rem;
}

#lenses_image_section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

#lenses_image_wrapper {
  grid-column: 4 / span 7;
  grid-row: 1 / span 3;
}

#lenses_image_section p {
  grid-column: 1 / span 5;
  grid-row: 2;
  background-color: var(--secondary_color);
  padding: 40px;
  border-radius: 20px;
}
